	<div class="form-group">
	    {{ form_label(form.name, null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
	    <div class="col-sm-10">
			{{ form_widget(form.name, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre completo'} }) }}     
	    </div>
	    {{ form_errors(form.name) }}   
	</div>
	
	<div class="form-group">
	    {{ form_label(form.username, null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
	    <div class="col-sm-10">
			{{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder': 'Nombre de usuaria/o'} }) }}     
	    </div>
	    {{ form_errors(form.username) }}   
	</div>
	
	<div class="form-group">
	    {{ form_label(form.email, null, { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
	    <div class="col-sm-10">
			{{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder': 'Correo electrónico'} }) }}     
	    </div>
	    {{ form_errors(form.email) }}   
	</div>
	{#
	<select id="formSelect" class="populate">
		<optgroup label="Alaskan/Hawaiian Time Zone">
        	<option value="AK">Alaska</option>
           <option value="HI">Hawaii</option>
       </optgroup>
       <optgroup label="Pacific Time Zone">
           <option value="CA">California</option>
           <option value="NV">Nevada</option>
           <option value="OR">Oregon</option>
           <option value="WA">Washington</option>
       </optgroup>
       <optgroup label="Mountain Time Zone">
           <option value="AZ">Arizona</option>
           <option value="CO">Colorado</option>
           <option value="ID">Idaho</option>
           <option value="MT">Montana</option>
           <option value="NE">Nebraska</option>
           <option value="NM">New Mexico</option>
           <option value="ND">North Dakota</option>
           <option value="UT">Utah</option>
           <option value="WY">Wyoming</option>
       </optgroup>
       <optgroup label="Central Time Zone">
           <option value="AL">Alabama</option>
           <option value="AR">Arkansas</option>
           <option value="IL">Illinois</option>
           <option value="IA">Iowa</option>
           <option value="KS">Kansas</option>
           <option value="KY">Kentucky</option>
           <option value="LA">Louisiana</option>
           <option value="MN">Minnesota</option>
           <option value="MS">Mississippi</option>
           <option value="MO">Missouri</option>
           <option value="OK">Oklahoma</option>
           <option value="SD">South Dakota</option>
           <option value="TX">Texas</option>
           <option value="TN">Tennessee</option>
           <option value="WI">Wisconsin</option>
       </optgroup>
	</select>
	#}
	<hr />
	<div class="form-group">
	    {{ form_label(form.current_password, 'Control', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}
	    <div class="col-sm-10">
			{{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'placeholder': 'Contraseña'} }) }}     
	    </div>
	    {{ form_errors(form.current_password) }}   
	</div>

	{{ form_errors(form) }}
	{{ form_rest(form) }}
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.js"></script>
	<script type="text/javascript">
      $(function () {
        $("#formSelect").select2();
      })
    </script>